---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import JobDescription from '../components/JobDescription.astro';
import TechStackCard from '../components/TechStackCard.astro';
import Header from '../components/Header.astro';
import tech_items from '../../content/tech_items.json';
import job_descriptions from '../../content/job_descriptions.json';
import projects from '../../content/projects.json'
---

<Layout title="CV - Petri Luostarinen">
	
	<main>
		<Header
		title="CV - Petri Luostarinen"
		addressCountry="Finland"
		addressCity="Västerskog"
		googleMapsLink = "https://goo.gl/maps/zSq2wm17pPAfXJH6A"
		email="petri0809@gmail.com"
		phoneNum="+358407312152"
		linkedin="https://www.linkedin.com/in/petri-luostarinen-819488bb"
		/>
		<h2>Work expereince</h2>
		{job_descriptions.map(desc => <JobDescription start={desc.start} end={desc.end} title={desc.title} body={desc.body.en_US}/>)}
		<h2>Tech stack</h2>
		
		<i><p>List of some key tech solutions that I have hands on experience with.</p></i>
		
		<div class="card-container tech-stack-styling">
			{tech_items.map(item => <TechStackCard title={item.title} items={item.items}/>)}
		</div>

		<h2>Projects</h2>
		<i><p>List of some key projects I have been involved with and that can be publicly announced.</p></i>
		
		<div role="list" class="card-container">
			{projects.map(project => <Card year={project.year} title={project.title} body={project.body.en_US}/>)}
		</div>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 110ch;
		min-width: 24rem;
		background-color: white;
		box-shadow: 0rem 0rem 1rem 0rem gray;
	}
	.card-container{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		min-width: 22rem;
		margin-top: 1rem;
	}

	.grid-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;	
	}
	.tech-stack-styling{
		/* background-color: white; */
	}

	@media screen and (max-width: 740px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
	}
</style>
