---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import JobDescription from '../components/JobDescription.astro';
import TechStackCard from '../components/TechStackCard.astro';
import Header from '../components/Header.astro';
import tech_items from '../../content/tech_items.json';
import job_descriptions from '../../content/job_descriptions.json';
import projects from '../../content/projects.json'
import Page from '../components/Page.astro';
---

<Layout title="CV - Petri Luostarinen">
	
	<main>
		<Page>
			<Header
			title="CV - Petri Luostarinen"
			addressCountry="Finland"
			addressCity="Västerskog"
			googleMapsLink = "https://goo.gl/maps/zSq2wm17pPAfXJH6A"
			email="petri0809@gmail.com"
			phoneNum="+358407312152"
			linkedin="https://www.linkedin.com/in/petri-luostarinen-819488bb"
			/>
		
			<h2>Work expereince</h2>
			{job_descriptions.map(desc => <JobDescription start={desc.start} end={desc.end} title={desc.title} body={desc.body.en_US}/>)}
		</Page>

		<Page>
			<h2>Tech stack</h2>
			
			<i><p>List of some key tech solutions that I have hands on experience with.</p></i>
			
			<div class="tech-item-container tech-stack-styling" style="page-break-after: always;">
				{tech_items.map(item => <TechStackCard title={item.title} items={item.items}/>)}
			</div>
		</Page>

		<h2 style="page-break-before: auto">Projects</h2>
		<i><p>List of some key projects I have been involved with and that can be publicly announced.</p></i>
		
		<div role="list" class="card-container">
			{projects.map((project) => <Card year={project.year} title={project.title} body={project.body.en_US}/>)}
		</div>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 110ch;
		min-width: 24rem;
		background-color: white;
		box-shadow: 0rem 0rem 1rem 0rem gray;
	}

	.tech-item-container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		justify-items: center;
		gap: 0rem 1rem;
	}

	.card-container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		justify-items: center;
		gap: 0rem 2rem;
	}

	.grid-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;	
	}
	.tech-stack-styling{
		/* background-color: white; */
	}

	@media screen and (max-width: 740px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
	}

	@media print {
	main {
		box-shadow: none !important;
	}
}
</style>
