---
import profilePic from '../../images/linkedin-profile.jpeg'
export interface Props {
	title: string;
    phoneNum: string;
    email: string;
    addressCountry?: string;
    addressStreet?: string;
    addressCity?: string;
    googleMapsLink?: string;
    linkedin: string;
}

const { title, phoneNum, email, googleMapsLink, addressCity, addressCountry, linkedin } = Astro.props;
---

<div class="layout-header typography-header">
    <div class="left">
        <img src={profilePic}>
        <h1>{title}</h1>
    </div>
    <div class="right">
        <ul class="contact-info-layout contact-info-typography">
            <li><a aria-label="email address" href={`mailto: ${email}`}>{email}</a></li>
            <li><a href={`tel:${phoneNum}`}aria-label="phone number" >{phoneNum}</a></li>
            <li> <a aria-label="location" href={googleMapsLink} target="_blank">{addressCountry}, {addressCity}</a></li>
            <li><a aria-label="social media" href={linkedin} target="_blank">Linkedin</a></li>
        </ul>
    </div>
    
</div>

<style>
    .layout-header{
        display: flex;
        justify-content: space-between;
        line-height: 1rem;
        align-content: center;
    }
    .contact-info-layout{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .contact-info-layout li{
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .contact-info-layout li p{
        margin: 0.3rem 0.1rem;
        padding: 0;
    }
    .contact-info-layout li a{
        margin: 0;
        padding: 0;
    }
    .contact-info-layout li span{
        margin-left: 0.5rem;
    }
    .contact-info-typography{
        color: #444;
        font-size: 0.8rem;
    }
    .contact-info-typography a{
        color: #444;
        text-decoration: none;
        font-weight: lighter;
        
    }
    .contact-info-typography a:hover{
        font-weight: normal;
        
    }
    .typography-header h1{
        line-height: 2rem;
    }
    .layout-header .right{
        height: 8rem;
        margin-top: 1rem;
    }
    .layout-header .left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout-header .left img{
        border-radius: 8rem;
        border: 0.5rem solid rgb(216, 216, 216);
        height: 8rem;
        margin-right: 1rem;
    }


</style>